---
http_interactions:
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=<DUMMY_AWS_ACCESS_KEY>&Action=SubmitFeed&SellerId=<DUMMY_AWS_SELLER_ID>&Signature=A174PVcUan0n2sXFvYlnz2BrCx1p5V%2B8Z6HM9BQRJBg=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-06-30T15:06:05%2B03:00&Type=text&Version=2009-01-01
    body:
      encoding: UTF-8
      string: "sku\tquantity\nLG-WHITE-1389247\t9"
    headers:
      Content-Md5:
      - onDs6N53e7eIV6Clv1x4ag==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Mws-Quota-Max:
      - '30.0'
      X-Mws-Quota-Remaining:
      - '22.0'
      X-Mws-Quota-Resetson:
      - '2015-06-30T12:47:00.000Z'
      X-Mws-Response-Context:
      - "+5G0JJEIfytQSZBcJJcDS0erym7RJS2Fku7VNKWi4mcoRLksx3iB8jaWnqFpacu5InN/Cc5Y1dJc
        HaOCoW0gKSXY16uaDIMM"
      - ZSooKA5Tn2ZgsE0UZxrKrrnI58PR8EpuvyzbZzvYHbG4N6mcHFRXzsQMt+4yUYntuy1zHDbvXjg=
      Nncoection:
      - close
      X-Mws-Request-Id:
      - 095b53fa-b05f-4ed1-9f99-20c41b0a9ffb
      X-Mws-Timestamp:
      - '2015-06-30T12:06:06.202Z'
      Cneonction:
      - close
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ErrorResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><Error><Type>Sender</Type><Code>MissingParameter</Code><Message>The request must contain the parameter FeedType.</Message><Detail/></Error><RequestID>095b53fa-b05f-4ed1-9f99-20c41b0a9ffb</RequestID></ErrorResponse>
  recorded_at: Tue, 30 Jun 2015 12:06:06 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=<DUMMY_AWS_ACCESS_KEY>&Action=SubmitFeed&SellerId=<DUMMY_AWS_SELLER_ID>&Signature=SLh%2BrMUkMtb5ZaIwjCkZyQZ0EPMW/mAQbTjqE/t4KtA=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-06-30T15:06:25%2B03:00&Type=text&Version=2009-01-01
    body:
      encoding: UTF-8
      string: "sku\tquantity\nLG-WHITE-1389247\t9"
    headers:
      Content-Md5:
      - onDs6N53e7eIV6Clv1x4ag==
  response:
    status:[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=<DUMMY_AWS_ACCESS_KEY>&Action=SubmitFeed&SellerId=<DUMMY_AWS_SELLER_ID>&Signature=iESIZ0DjRZDFEqUVaeYMWQcHgCfe/Knnh8R%2Brhx9Hpg=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-06-30T15:07:57%2B03:00&Type=text&Version=2009-01-01
    body:
      encoding: UTF-8
      string: "sku\tquantity\nLG-WHITE-1389247\t9"
    headers:
      Content-Md5:
      - onDs6N53e7eIV6Clv1x4ag==
  response:
    status:[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=<DUMMY_AWS_ACCESS_KEY>&Action=SubmitFeed&SellerId=<DUMMY_AWS_SELLER_ID>&Signature=9wYZUt8Ld/GsKaSECYwnew2yIDWWQCRrF5kqz4vMtX4=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-06-30T15:09:20%2B03:00&Type=text&Version=2009-01-01
    body:
      encoding: UTF-8
      string: "sku\tquantity\nLG-WHITE-1389247\t9"
    headers:
      Content-Md5:
      - onDs6N53e7eIV6Clv1x4ag==
  response:
    status:
 [...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=<DUMMY_AWS_ACCESS_KEY>&Action=SubmitFeed&SellerId=<DUMMY_AWS_SELLER_ID>&Signature=F0ywqKDz4kTJEs8cf168w9GdnHPc2%2B3DZyb9guOhDDg=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-06-30T15:11:25%2B03:00&Type=text&Version=2009-01-01
    body:
      encoding: UTF-8
      string: "sku\tquantity\nLG-WHITE-1389247\t9"
    headers:
      Content-Md5:
      - onDs6N53e7eIV6Clv1x4ag==
  response:
    status:[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=<DUMMY_AWS_ACCESS_KEY>&Action=SubmitFeed&SellerId=<DUMMY_AWS_SELLER_ID>&Signature=KJkzf5azvOMK0eSCZIBQEcywZUhkA2CrLBM61fSHhqU=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-06-30T15:15:09%2B03:00&Type=text&Version=2009-01-01
    body:
      encoding: UTF-8
      string: "sku\tquantity\nLG-WHITE-1389247\t9"
    headers:
      Content-Md5:
      - onDs6N53e7eIV6Clv1x4ag==
  response:
    status:
 [...]
