---
http_interactions:
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=DUMMY_AWS_ACCESS_KEY&Action=SubmitFeed&SellerId=DUMMY_AWS_SELLER_ID&Signature=YhLXlDNxtEoA0JFn1Ou/g78cCk3wRsmm7DQM5Osv52U=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-06-30T15:48:47%2B03:00&Type=text&Version=2009-01-01
    body:
      encoding: UTF-8
      string: "sku\tquantity\nLG-WHITE-1389247\t9"
    headers:
      Content-Md5:
      - onDs6N53e7eIV6Clv1x4ag==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Mws-Quota-Max:
      - '30.0'
      X-Mws-Quota-Remaining:
      - '30.0'
      X-Mws-Quota-Resetson:
      - '2015-06-30T13:47:00.000Z'
      X-Mws-Response-Context:
      - 9nvPYIFZcDSyJOo82gQXO7vbiHtlOMe7RuCEavas4rRUqwOYpytQj9URGbGRWqygBTt9uVxyqGM=
      - tVEHw2ngd7MQqekkIH6SHdkc+GXWxabddBJmcP4jMnrFiP2APzjUpc0xLVo4MH0fokf+4ICKvJmR
        9vEuq+KKAmNiuBML4vTW
      Nncoection:
      - close
      X-Mws-Request-Id:
      - b1ce0365-ed92-44ae-88fe-6dd3644faf0f
      X-Mws-Timestamp:
      - '2015-06-30T12:48:47.682Z'
      Cneonction:
      - close
      Content-Type:
      - application/octet-stream
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ErrorResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><Error><Type>Sender</Type><Code>MissingParameter</Code><Message>The request must contain the parameter FeedType.</Message><Detail/></Error><RequestID>b1ce0365-ed92-44ae-88fe-6dd3644faf0f</RequestID></ErrorResponse>
  recorded_at: Tue, 30 Jun 2015 12:48:47 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=DUMMY_AWS_ACCESS_KEY&Action=SubmitFeed&SellerId=DUMMY_AWS_SELLER_ID&Signature=mkKQFSiDGGTeBhL4wCREjg6nmkdYrytgjb8mokgF668=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-06-30T15:48:55%2B03:00&Type=text&Version=2009-01-01
    body:
      encoding: UTF-8
      string: "sku\tquantity\nLG-WHITE-1389247\t9"
    headers:
      Content-Md5:
      - onDs6N53e7eIV6Clv1x4ag==
  response:
    status:
     [...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=DUMMY_AWS_ACCESS_KEY&Action=SubmitFeed&SellerId=DUMMY_AWS_SELLER_ID&Signature=SMX0ReknNEVJEZCzbTFHXwWpjx7xrBpoqXAmCcx4vmI=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-06-30T15:49:09%2B03:00&Type=text&Version=2009-01-01
    body:
      encoding: UTF-8
      string: "sku\tquantity\nLG-WHITE-1389247\t9"
    headers:
      Content-Md5:
      - onDs6N53e7eIV6Clv1x4ag==
  response:
    status:
     [...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=DUMMY_AWS_ACCESS_KEY&Action=SubmitFeed&SellerId=DUMMY_AWS_SELLER_ID&Signature=LoM5rj6Ejh%2BucLHPs%2BdUnNlyPuaUU6vxh7vbqYkevvs=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-06-30T15:49:17%2B03:00&Type=text&Version=2009-01-01
    body:
      encoding: UTF-8
      string: "sku\tquantity\nLG-WHITE-1389247\t9"
    headers:
      Content-Md5:
      - onDs6N53e7eIV6Clv1x4ag==
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Mws-Request-Id:
      - 6f688b33-132d-49ff-a13e-4bce92617d14
      X-Mws-Timestamp:
      - '2015-06-30T12:49:18.497Z'
      X-Mws-Response-Context:
      - 076VUzKDY6FaNTCNHJIIgDxQ1pzFIQbfPwndCFjOhCPosgq696KYqQEn3jI+GJTw2W4SF0CEP5I=
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <ErrorResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidAccessKeyId</Code>
            <Message>The AWS Access Key Id you provided does not exist in our records.</Message>
          </Error>
          <RequestID>6f688b33-132d-49ff-a13e-4bce92617d14</RequestID>
        </ErrorResponse>
  recorded_at: Tue, 30 Jun 2015 12:49:18 GMT
recorded_with: VCR 2.9.3
