---
http_interactions:
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=<DUMMY_AWS_ACCESS_KEY>&Action=SubmitFeed&FeedType=_POST_FLAT_FILE_INVLOADER_DATA_&SellerId=<DUMMY_AWS_SELLER_ID>&Signature=W%2BzsXfiey35q/35cftVMMVfLK33KYjQy8G96IRocHgU=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-06-30T15:06:02%2B03:00&Type=text&Version=2009-01-01
    body:
      encoding: UTF-8
      string: "sku\tquantity\nLG-WHITE-1389247\t9"
    headers:
      Content-Md5:
      - onDs6N53e7eIV6Clv1x4ag==
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mws-Quota-Max:
      - '30.0'
      X-Mws-Quota-Remaining:
      - '22.0'
      X-Mws-Quota-Resetson:
      - '2015-06-30T12:47:00.000Z'
      X-Mws-Response-Context:
      - MLg2W6NXssK40Fha3gJLB5TOzs9dNeevdX9fKPZSp62f8m9+etllVIN+w+wrPsIueJVpivXhVT/u
        Td6etztXcx0q0ab8pFT9
      - q/RTvWkmp1lMfKq3YvK+YV8xliSKV4S5Nk5IeM52YSQSxgv9qS+CIYv7HudVqk7Hj6ZIF3RSpqk=
      X-Amz-Request-Id:
      - 6a507711-b1e9-4210-bad9-576bfa0217e6
      X-Mws-Request-Id:
      - 6a507711-b1e9-4210-bad9-576bfa0217e6
      X-Mws-Timestamp:
      - '2015-06-30T12:06:05.037Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <SubmitFeedResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><SubmitFeedResult><FeedSubmissionInfo><FeedSubmissionId>66383016616</FeedSubmissionId><FeedType>_POST_FLAT_FILE_INVLOADER_DATA_</FeedType><SubmittedDate>2015-06-30T12:06:05+00:00</SubmittedDate><FeedProcessingStatus>_SUBMITTED_</FeedProcessingStatus></FeedSubmissionInfo></SubmitFeedResult><ResponseMetadata><RequestId>6a507711-b1e9-4210-bad9-576bfa0217e6</RequestId></ResponseMetadata></SubmitFeedResponse>
  recorded_at: Tue, 30 Jun 2015 12:06:05 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=<DUMMY_AWS_ACCESS_KEY>&Action=SubmitFeed&FeedType=_POST_FLAT_FILE_INVLOADER_DATA_&SellerId=<DUMMY_AWS_SELLER_ID>&Signature=v8kg%2Bh1cTBCrt4rV4aLN8mHfK6HQYwthIVsBYSq9980=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-06-30T15:06:24%2B03:00&Type=text&Version=2009-01-01
    body:
      encoding: UTF-8
      string: "sku\tquantity\nLG-WHITE-1389247\t9"
    headers:
      Content-Md5:
      - onDs6N5[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=<DUMMY_AWS_ACCESS_KEY>&Action=SubmitFeed&FeedType=_POST_FLAT_FILE_INVLOADER_DATA_&SellerId=<DUMMY_AWS_SELLER_ID>&Signature=DbCt1dO1CifIL10pEhZDGahkHlNXhJUuOoF3br6vJ/k=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-06-30T15:07:56%2B03:00&Type=text&Version=2009-01-01
    body:
      encoding: UTF-8
      string: "sku\tquantity\nLG-WHITE-1389247\t9"
    headers:
      Content-Md5:
      - onDs6N53e[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=<DUMMY_AWS_ACCESS_KEY>&Action=SubmitFeed&FeedType=_POST_FLAT_FILE_INVLOADER_DATA_&SellerId=<DUMMY_AWS_SELLER_ID>&Signature=1UYKGkIq3nxavzSC4ypwc886FfmiTVy1sfvW76%2BA21k=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-06-30T15:09:18%2B03:00&Type=text&Version=2009-01-01
    body:
      encoding: UTF-8
      string: "sku\tquantity\nLG-WHITE-1389247\t9"
    headers:
      Content-Md5:
      - onDs6N5[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=<DUMMY_AWS_ACCESS_KEY>&Action=SubmitFeed&FeedType=_POST_FLAT_FILE_INVLOADER_DATA_&SellerId=<DUMMY_AWS_SELLER_ID>&Signature=4knbE/YSjALRQzhHrhSOrjwTsA2QA4pmafJVXH8YQnA=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-06-30T15:11:24%2B03:00&Type=text&Version=2009-01-01
    body:
      encoding: UTF-8
      string: "sku\tquantity\nLG-WHITE-1389247\t9"
    headers:
      Content-Md5:
      - onDs6N53e[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=<DUMMY_AWS_ACCESS_KEY>&Action=SubmitFeed&FeedType=_POST_FLAT_FILE_INVLOADER_DATA_&SellerId=<DUMMY_AWS_SELLER_ID>&Signature=nkcmp3BM47dGIM3IBIQ0LggQLljTvpelvfdHJJEXncQ=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-06-30T15:15:08%2B03:00&Type=text&Version=2009-01-01
    body:
      encoding: UTF-8
      string: "sku\tquantity\nLG-WHITE-1389247\t9"
    headers:
      Content-Md5:
      - onDs6N53e[...]
