---
http_interactions:
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=<DUMMY_AWS_ACCESS_KEY>&Action=SubmitFeed&FeedType=_POST_INVENTORY_AVAILABILITY_DATA_&SellerId=<DUMMY_AWS_SELLER_ID>&Signature=cE4pthonpsC7Hxaq5CQDVAfM1BG%2B2hvJN045ZgoHOyU=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-06-30T15:04:08%2B03:00&Version=2009-01-01
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><AmazonEnvelope><Header><DocumentVersion>1.01</DocumentVersion><MerchantIdentifier><DUMMY_AWS_SELLER_ID></MerchantIdentifier></Header><MessageType>Inventory</MessageType><PurgeAndReplace>false</PurgeAndReplace><Message>
          <MessageID>1175575030</MessageID>
          <OperationType>Update</OperationType>
          <Inventory>
            <SKU>LG-WHITE-1389247</SKU>
            <Quantity>9</Quantity>
          </Inventory>
        </Message>
        </AmazonEnvelope>
    headers:
      Content-Md5:
      - Qyf7JIz8Wo1uWhnY2b7xgg==
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mws-Quota-Max:
      - '30.0'
      X-Mws-Quota-Remaining:
      - '24.0'
      X-Mws-Quota-Resetson:
      - '2015-06-30T12:47:00.000Z'
      X-Mws-Response-Context:
      - 6CdymClm7VCdmIPXnbuIKTcBHSoJpnK8xv1Rgc+YA1exXrsqn0pdwgk9QPOzoiBLgPdTMW2ju1qD
        5x0cVdAnzBKR2vf3g0MR
      - qMeeQ5X79VyGYdV+lPkE75VzVKmUxSQDoLvjPrfMIoY5kYFa1k215L72mVepnz4OdpzkYTEy8nw=
      X-Amz-Request-Id:
      - 3c5a6795-2c43-4b46-bd7b-51812f355f74
      X-Mws-Request-Id:
      - 3c5a6795-2c43-4b46-bd7b-51812f355f74
      X-Mws-Timestamp:
      - '2015-06-30T12:04:08.782Z'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <SubmitFeedResponse xmlns="http://mws.amazonaws.com/doc/2009-01-01/"><SubmitFeedResult><FeedSubmissionInfo><FeedSubmissionId>66380016616</FeedSubmissionId><FeedType>_POST_INVENTORY_AVAILABILITY_DATA_</FeedType><SubmittedDate>2015-06-30T12:04:09+00:00</SubmittedDate><FeedProcessingStatus>_SUBMITTED_</FeedProcessingStatus></FeedSubmissionInfo></SubmitFeedResult><ResponseMetadata><RequestId>3c5a6795-2c43-4b46-bd7b-51812f355f74</RequestId></ResponseMetadata></SubmitFeedResponse>
  recorded_at: Tue, 30 Jun 2015 12:04:08 GMT
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=<DUMMY_AWS_ACCESS_KEY>&Action=SubmitFeed&FeedType=_POST_INVENTORY_AVAILABILITY_DATA_&SellerId=<DUMMY_AWS_SELLER_ID>&Signature=M6ZenQS0BbcWprFVow3vTkby3yctA5UYueiJbCN86LE=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-06-30T15:04:14%2B03:00&Version=2009-01-01
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><AmazonEnvelope><Header><DocumentVersion>1.0[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=<DUMMY_AWS_ACCESS_KEY>&Action=SubmitFeed&FeedType=_POST_INVENTORY_AVAILABILITY_DATA_&SellerId=<DUMMY_AWS_SELLER_ID>&Signature=kZAvd90wghVrWZxNuIAFmISEc9MCDgNl3XsWZdtucEo=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-06-30T15:06:01%2B03:00&Version=2009-01-01
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><AmazonEnvelope><Header><DocumentVersion>1.0[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=<DUMMY_AWS_ACCESS_KEY>&Action=SubmitFeed&FeedType=_POST_INVENTORY_AVAILABILITY_DATA_&SellerId=<DUMMY_AWS_SELLER_ID>&Signature=tL0/VCM9tPO/bf0PVbvnUPD/yn2dge17QbomUYc5NuY=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-06-30T15:06:20%2B03:00&Version=2009-01-01
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><AmazonEnvelope><Header><DocumentVersion>1.0[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=<DUMMY_AWS_ACCESS_KEY>&Action=SubmitFeed&FeedType=_POST_INVENTORY_AVAILABILITY_DATA_&SellerId=<DUMMY_AWS_SELLER_ID>&Signature=nNxVyiqNNpuXYWzzxq8Ii8zDmc4tJFouHuShuEHrfUo=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-06-30T15:07:54%2B03:00&Version=2009-01-01
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><AmazonEnvelope><Header><DocumentVersion>1.0[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=<DUMMY_AWS_ACCESS_KEY>&Action=SubmitFeed&FeedType=_POST_INVENTORY_AVAILABILITY_DATA_&SellerId=<DUMMY_AWS_SELLER_ID>&Signature=oWz0s8%2Bt6bWNrY8TqUK7yDmk%2Bb3qc7DJfq1Y2PdzBKg=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-06-30T15:09:17%2B03:00&Version=2009-01-01
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><AmazonEnvelope><Header><DocumentVersion[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=<DUMMY_AWS_ACCESS_KEY>&Action=SubmitFeed&FeedType=_POST_INVENTORY_AVAILABILITY_DATA_&SellerId=<DUMMY_AWS_SELLER_ID>&Signature=0rnkJFdEAjPJHHhbKrx1O3l8TPEXidEIMwc8CHMgyCA=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-06-30T15:11:24%2B03:00&Version=2009-01-01
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><AmazonEnvelope><Header><DocumentVersion>1.0[...]
- request:
    method: post
    uri: https://mws-eu.amazonservices.com/?AWSAccessKeyId=<DUMMY_AWS_ACCESS_KEY>&Action=SubmitFeed&FeedType=_POST_INVENTORY_AVAILABILITY_DATA_&SellerId=<DUMMY_AWS_SELLER_ID>&Signature=oao/ukjoVVxrl0%2BExNfS5ICto4hMRBPyxnRoeMkBKe0=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2015-06-30T15:15:07%2B03:00&Version=2009-01-01
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><AmazonEnvelope><Header><DocumentVersion>1[...]
